<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.domain.comment.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="com.ssafy.trip.domain.comment.dto.CommentData$Detail">
        <result column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="content" property="content" />
        <result column="created_at" property="createdAt" />
        <result column="profile_image" property="profileImage" />
    </resultMap>

    <select id="list" resultMap="commentResultMap">
        SELECT c.comment_id, c.user_id, u.nickname, c.content, c.created_at, u.profile_image
        FROM review_comment c JOIN users u ON c.user_id = u.user_id
        WHERE review_id = #{reviewId}
    </select>

    <!--  TODO : 정보를 어디까지 가져갈껀지에 대해서 생각하기  -->
    <select id="listByUserId" resultMap="commentResultMap">
        SELECT c.comment_id, c.user_id, u.nickname, c.content, c.created_at, u.profile_image
        FROM review_comment c JOIN users u ON c.user_id = u.user_id
        WHERE c.user_id = #{userId}
    </select>

    <insert id="save">
        INSERT INTO review_comment(review_id, user_id, content)
        VALUES (#{reviewId}, #{userId}, #{content});
    </insert>

</mapper>