<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.domain.notice.mapper.NoticeMapper">
    <!-- 공지사항 전체 조회   -->
    <select id="findNotices">
        SELECT *
        FROM notices;
    </select>

    <!-- 공지사항 단건 조회   -->
    <select id="findByTitle">
        SELECT *
        FROM notices
        WHERE notice_id = #{noticeId};
    </select>

    <!-- 공지사항 등록   -->
    <insert id="save">
        INSERT INTO notices (title, content, created_at)
        VALUES (#{title}, #{content}, now());
    </insert>

    <!-- 공지사항 수정   -->
    <update id="update">
        UPDATE notices
        SET title = #{notice.title}, content = #{notice.content}
        WHERE notice_id = #{noticeId}
    </update>

    <!-- 공지사항 삭제   -->
    <delete id="delete">
        DELETE
        FROM notices
        WHERE notice_id = #{noticeId}
    </delete>
</mapper>