<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.domain.social.mapper.SocialMapper">
    <!-- 게시글 전체 조회   -->
    <select id="getSocialList">
        SELECT *
        FROM socials;
    </select>

    <!-- 게시글 단건 조회   -->
    <select id="getSocialBySocialId">
        SELECT *
        FROM socials
        WHERE social_id = #{socialId};
    </select>

    <!-- 게시글 등록   -->
    <insert id="save">
        INSERT INTO socials (title, content, view_count, created_at)
        VALUES (#{title}, #{content}, 0, now());
    </insert>

    <!-- 게시글 수정   -->
    <update id="modify">
        UPDATE socials
        SET title = #{title}, content = #{content}
        WHERE social_id = #{socialId}
    </update>

    <!-- 게시글 삭제   -->
    <delete id="delete">
        DELETE
        FROM socials
        WHERE social_id = #{socialId}
    </delete>
</mapper>